@model HealthSystemsDemo.Models.Feedback

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feedback</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Industry.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Industry.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainFeature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainFeature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaOfImprovement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaOfImprovement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FurtherFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FurtherFeedback)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
