@model HealthSystemsDemo.Models.Feedback

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Feedback</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IndustryId, "IndustryId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IndustryId", String.Empty)
                @Html.ValidationMessageFor(model => model.IndustryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MainFeature, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MainFeature)
                @Html.ValidationMessageFor(model => model.MainFeature)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceRating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceRating)
                @Html.ValidationMessageFor(model => model.ServiceRating)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AreaOfImprovement, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AreaOfImprovement)
                @Html.ValidationMessageFor(model => model.AreaOfImprovement)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FurtherFeedback, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FurtherFeedback)
                @Html.ValidationMessageFor(model => model.FurtherFeedback)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
